<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Record {{docket[0]}}</title>
    <script>
        let textFromFileLoaded


        function viewItem(seq){
            window.location.href = `/docket/attach/view/${seq}`
        }

        function loadData() {
            let file = document.getElementById("file").files[0];
            let reader = new FileReader();
            reader.onload = function(fileLoadedEvent) {
                textFromFileLoaded = fileLoadedEvent.target.result;
            };

            reader.readAsBinaryString(file);
            return textFromFileLoaded
        }

        function sendFile(){
            file_data = textFromFileLoaded
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/docket/officer/attach/{{seq}}");
            xhr.setRequestHeader("Content-Type", "application/json");
            let post_data = {
                "docket": {{docket[0]}},
                "file_name": document.getElementById("file").files[0].name,
                "file_data": btoa(file_data)
            }
            xhr.send(JSON.stringify(post_data));
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    location.reload();
                } else if (xhr.readyState == 4) {
                    alert(xhr.response)
                }
            }
        }

        function add() {
            assignee_table = document.getElementById("assignees")
            assignee_table.insertRow().innerHTML = `
            <td>
                <select id="user" name="user" onchange="commitRow()">
                    <option>Select a User</option>
                {% for user in users %}
                    <option value="{{user[0]}}">{{user[1]}}</option>
                {% endfor %}
                </select>
            </td>
            <td></td>
            `
        }

        function commitRow() {
            var users = document.getElementsByTagName("select")
            var user = users[users.length - 1].value
            // Check if the user is already in the table
            var rows = document.getElementById("assignees").rows
            for (var i = 0; i < rows.length - 1; i++) {
                if (rows[i].cells[0].innerText == user) {
                    alert("User already in table")
                    return
                }
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/docket/officer/assignee/add/", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            let post_data = {
                "user": user,
                "docket": {{docket[0]}}
            }
            xhr.send(JSON.stringify(post_data));
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    location.reload();
                }
            }
        }

        {% if docket[3] == 'In Vote' and doc_admin %}
        function calculateVote(){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/docket/officer/vote/calculate/", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            let post_data = {
                "docket": {{docket[0]}}
            }
            xhr.send(JSON.stringify(post_data));
            xhr.onreadystatechange = function() {
                if (xhr.readyState != 4) return;
                if(xhr.status == 200) {
                    location.href = "/docket/officer/view/";
                } else {
                    alert("There was an error calculating the vote");
                }
            }
        }
        {% endif %}

        function remove(user_seq){
            if (name != null) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/docket/officer/assignee/del/", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                let post_data = {
                    "user": user_seq,
                    "docket": {{docket[0]}}
                }
                xhr.send(JSON.stringify(post_data));
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        location.reload();
                    }
                }
            }
        }
    </script>
</head>
<body>
    {% render "navbar.liquid" %}
    <h1>Edit Record {{docket[0]}}</h1>
    <fieldset>
        <legend>Docket Informaion</legend>
        <form action="/docket/officer/edit/{{docket[0]}}" method="post">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="{{docket[1]}}"> <br> <br>
            <label for="body">Body:</label> <br>
            <textarea name="body" id="body" cols="40" rows="10">{{docket[2]}}</textarea> <br>
            <label for="status">Status</label>
            <select name="status" id="status">
                {% for stat in statuses %}
                    {% if stat[1] != 'In Vote' and docket[8] != 1 %}
                        <option value="{{stat[0]}}">{{stat[1]}}</option>
                    {% endif %}
                    
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
    </form>
    <br>
    {% if docket[3] == 'In Vote' and doc_admin %}
    <button onclick="calculateVote()">Close Vote</button>

    {% endif %}
    </fieldset>
    <fieldset>
        <legend>Assignees</legend>
        <table id="assignees">
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>

        {% for person in assignees %}
            <tr>
                <td>{{person[0]}}</td>
                <td><a onclick="remove({{person[1]}})" class="nav pointer">Remove</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><a onclick="add()" class="nav pointer">+</a></td>
        </tr>
        </table>
    </fieldset>

        <table id="attachments">
            <tr>
                <th>File Name</th>
                <th>View File</th>
            </tr>
            {% for attachment in attachments %}
                <tr>
                    <td style="text-transform:none">{{attachment[1]}}</td>
                    <td><button class="nav" onclick="viewItem({{attachment[0]}})">View</button></td>
                </tr>
            {% endfor %}

        </table>
        <br>
        <fieldset>
            <legend>Add Attachment</legend>
            <input type="file" name="file" id="file" onchange="loadData()"> <br>

            <button onclick="sendFile()">Attach!</button>
        </fieldset>

</body>
</html>