<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About {{system_name}}</title>
    {% render "navbar.liquid" %}
</head>
<body>
    <h1>About {{system_name}}</h1>
    {% for line in about_text %}
        <p>{{line}}</p>
    {% endfor %}
    <br>
    <h2>Contact Information</h2>
    <h3>System Administrator</h3>
    <a class="email" target="_blank" href="mailto:{{system_administrator.email}}{{email_domain}}">{{system_administrator.name}}</a>
    <br><br>
    <h3>Application Administrators</h3>
    {% for admin in application_administrators %}
        <a href="mailto:{{admin.email}}{{email_domain}}" target="_blank" class="email">{{admin.name}}</a> <br><br>
    {% endfor %}
    <br>
    {% if isLoggedIn %}
        <h3>Report a bug</h3>
        <form action="/about/bug_report" method="post">
            <label for="dt_occured">Date/Time of Bug (Approx):</label>
            <input type="datetime-local" name="dt_occured" id="dt_occured">
            <br>
            <label for="description">Description:</label><br>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="Submit Report">
        </form>
        <p>Along with this form, your user information will be sent along to the administration team.</p>
        <p>Our administration team with <b><i><u>NEVER</u></i></b> ask for your password or any other sensitive information!</p>
        <p>Should someone ask for your sensitive information, please alert your system administrator as soon as possible.</p>
    {% endif %}

</body>
</html>