<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User {{user.seq}}</title>
    <script>
        function sendPasswordReset() {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/auth/password_reset/");
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");

            const body = JSON.stringify({
                username: '{{user.user_name}}'
            });

            xhr.onload = () => {
                if (xhr.readyState == 4 && xhr.status == 201) {
                    alert("Check your email for a reset link!");
                } else {
                    console.log(`Error: ${xhr.status}`);
                    alert("Could not request a password reset.\nIf this error persists, please contact an application administrator.")
                }
            };

            xhr.send(body);
        }
    </script>
</head>
<body>
    {% render "navbar.liquid" %}
    <h1>Edit User</h1>
    <form action="/admin/users/edit?seq={{user.seq}}" method="post">
        <table>
            <tr>
                <td>Seq</td>
                <td>{{user.seq}}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" value="{{user.user_name}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td style="text-transform:none;"><input type="text" name="email" value="{{user.email}}">{{email_domain}}</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="first_name" value="{{user.first_name}}"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="last_name" value="{{user.last_name}}"></td>
            </tr>
            <tr>
                <td>Theme</td>
                <td><input type="text" name="theme" id="theme" value="{{user.theme}}"></td>
            </tr>
            <tr>
                <td>System User</td>
                <td>
                    <input type="checkbox" name="system_user" id="system_user" {% if user.system_user == 1 %} checked {% endif %}>
                </td>
            </tr>
            <tr>
                <td>Enable Emails</td>
                <td>
                    <input type="checkbox" name="enable_emails" id="enable_emails" {% if user.receive_emails %} checked {% endif %}>
                </td>
            </tr>
        </table>
        <h2>Permissions</h2>
        <table>
            <tr>
                <th colspan="4">Finances</th>
                <th colspan="4">Docket</th>
                <th colspan="2">Admininstration</th>
            </tr>
            <tr>
                <th>Read</th>
                <th>Write</th>
                <th>Admin</th>
                <th>Approve</th>
                <th>Read</th>
                <th>Write</th>
                <th>Admin</th>
                <th>Vote</th>
                <th>Users</th>
                <th>Send Emails</th>
            </tr>
            <tr>
                <td><input type="checkbox" name="inv_view" id="inv_view" {% if user.inv_view %}checked {% endif %}></td>
                <td><input type="checkbox" name="inv_edit" id="inv_edit" {% if user.inv_edit %}checked {% endif %}></td>
                <td><input type="checkbox" name="inv_admin" id="inv_admin" {% if user.inv_admin %}checked {% endif %}></td>
                <td><input type="checkbox" name="approve_invoices" id="approve_invoices" {% if user.approve_invoices %}checked {% endif %}></td>
                <td><input type="checkbox" name="doc_view" id="doc_view" {% if user.doc_view %}checked {% endif %}></td>
                <td><input type="checkbox" name="doc_edit" id="doc_edit" {% if user.doc_edit %}checked {% endif %}></td>
                <td><input type="checkbox" name="doc_admin" id="doc_admin" {% if user.doc_admin %}checked {% endif %}></td>
                <td><input type="checkbox" name="doc_vote" id="doc_vote" {% if user.docket_vote %}checked {% endif %}></td>
                <td><input type="checkbox" name="user_admin" id="user_admin" {% if user.user_admin %}checked {% endif %}></td>
            </tr>
        </table>
        <input type="submit" value="Submit">

    </form>
    <br>
    <br>
    <br>
    <br>
    <button onclick="sendPasswordReset()">Send Password Reset</button>
    {% comment %} {{user}} {% endcomment %}
</body>
</html>