<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet">
    {% if isPreview %}
        <style>
            #paper{
                background-image: url("/static/finances/view/Watermark.png");
                background-position: 0 0;
                z-index: -1;
            }
        </style>
    {% endif %}
    <title>{{record.header.type}} #{{record.header.id}}</title>
    <style>
        :root {
    --primary-brand: crimson;
    
    --secondary-brand: black;
}

#paper{
    margin: 0.5in;
    width: calc(8.5in - 1in);
    height: calc(11in - 1in);
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 3px;
}
th, td{
    border: 1px solid black;
    padding: 0.25em;
}

hr.primary{
    border: 2.6px solid var(--primary-brand);
    margin: 0;
}

hr.secondary{
    border: 1.6px solid var(--secondary-brand);
    margin: 0;
}

hr.primary{
    margin-bottom: 3px;
}

hr.secondary{
    margin-bottom: 3px;
}

hr.top.secondary{
    margin-bottom: 0.2in;
}

hr.bot.primary{
    position: absolute;
    bottom: .2in;
    width: calc(7.5in - 2px);
}
hr.bot.secondary{
    position: absolute;
    bottom: .15in;
    width: 7.5in;
}

.logo{
    margin-left: .4in;
    margin-bottom: .2in;
    width: 1.5in;
    object-fit: contain;
}

div#header{
    margin-top: .2in;
}

h1{
    position: absolute;
    top: 1.39in;
    left: 5.25in;
    padding-left: .05in;
    padding-right: .05in;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.1rem;
    text-transform: uppercase;
    font-style: italic;
}


table#head{
    text-align: center;
}
    </style>
</head>
<body>
    <div id="paper">
        <div id="header">
            <img class="logo" src="http://{{application_url}}/static/logo.png" alt="Computer Science Club @ Bridgewater State" width="216" height="100">
            {% comment %} <div id="addr">
                <p>Test123</p>
                <p>Test123</p>
                <p>Test123</p>
                <p>Test123</p>
            </div> {% endcomment %}
        </div>
        <h1 >{{record.header.type}}</h1>
        <hr class="top primary">
        <hr class="top secondary">
        <table id="head">
            <thead>
                <tr>
                    <th style="padding: 5px;">Record ID</th>
                    <th style="padding: 5px;">Creator</th>
                    <th style="padding: 5px;">Approver</th>
                    <th style="padding: 5px;">Date</th>
                    <th style="padding: 5px;">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 5px;">{{record.header.id}}</td>
                    <td style="padding: 5px;">{{record.header.creator}}</td>
                    <td style="padding: 5px;">{% if record.header.approver != "System Account" %}
                        {{record.header.approver}}
                    {% else %}
                        <b>Pending Approval</b>
                    {% endif %}</td>
                    <td style="padding: 5px;">{{record.header.inv_date}}</td>
                    <td style="padding: 5px;">{{record.header.status}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table id="prods">
            <thead>
                <tr>
                    <th>Line ID</th>
                    <th>Item</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for line in record.lines %}
                    <tr>
                        <td>{{line.line_id}}</td>
                        <td>{{line.item_desc}}</td>
                        <td>{{line.item_price}}</td>
                        <td>{{line.qty}}</td>
                        <td>{{line.total}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" style="text-align: right; border: none;">Taxes:</td>
                    <td>{{record.header.tax}}</td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: right; border: none;">Fees:</td>
                    <td>{{record.header.fees}}</td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: right; border: none;">Total:</td>
                    <td style="background-color: #85b0ff;">{{record.header.total}}</td>
                </tr>
            </tbody>
        </table>
        <hr class="bot primary">
        <hr class="bot secondary">
    </div>
</body>
</html>
